{% extends "layout.html" %}
{% block content %}

    <div class="card mt-4">
        <div class="card-header">
            /
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                    Tabular view containing all cities information
                </p>
                <p>
                    Request type : GET http request
                </p>

            </blockquote>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            /data/cities
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                    Receive the JSON response containing all cities information
                </p>
                <p>
                    Request type : GET http request
                </p>

            </blockquote>
        </div>
    </div>



{% endblock %}